/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10/06/2021, 01:52:39 PM
    Author     : Sandra
*/



input[type=text] {
  width:100%;
  height: 100%;
  padding: 13px 18px;
  box-sizing: border-box;
  border: 5px solid red;
  border-radius: 4px;
  font-size: 40px;
  text-align: center;
}

.button1 {
  border: black;
  border-style: double;
  color: black;
  padding: 5px 15px;
  text-decoration: blue;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 25px;
  font-size: 30px;
  
}

.button2{
  border: black;
  border-style: double;
  color: black;
  padding: 5px 15px;
  text-decoration: blue;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 25px;
  font-size: 30px;
  
}

.button3{
  border: black;
  border-style: double;
  color: red;
  padding: 5px 15px;
  text-decoration: blue;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 25px;
  font-size: 30px;
  
}



h1 {
  word-spacing: 5px;
  color: blueviolet;
  
}



.box {
 float: left;
  width: 14%; 
  height: 130px;
  font-size: 40px;
  text-align: center;
  text-align-last: center;
  align-items: center;
  font-family: cursive;
  
}

.boxinput {
 float: left;
  width: 14%; 
  height: 130px;
  
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.button1:active{
    background-color: antiquewhite;
    
}

.button2:active{
    background-color: antiquewhite;
    
}

.button3:active{
    background-color: antiquewhite;
    
}